/* .App {
  text-align: center;
} */

/* .header {
  background: lightgray;
  padding: 10px;
  border-bottom: 3px solid black;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .header p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
} */

/* .navigation a {
  margin-right: 15px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: maroon;
  color: white;
} */

/* .navigation button {
  font-size: 18px;
  padding: 12px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  top: -2.8px;
} */

/* .form {
  background: lightgray;
  width: 350px;
  height: 300px;
  border: 3px solid black;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
} */

/* .registerForm{
  background: lightgray;
  width: 400px;
  height: 600px;
  border: 3px solid black;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
} */

/* .input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
} */

/* .actionBtn {
  width: 88%;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  background-color: maroon;
  color: white;
}

.item {
  background: lightgray;
  width: 600px;
  border: 3px solid black;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}

.itemForm {
  background: lightgray;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
} */

/* work on not distorting the pictures
.itemImg {
  width: 300px;
  height: 400px;
} */

.rented {
  color: red;
}